@model Dershane.Models.EgitimModel
<link rel="stylesheet" href="~/css/admin_style.css" />
<div class="form-container">
    <h3>@(Model.Id == 0 ? "Add New Eğitim" : "Edit Eğitim")</h3>
    <form id="egitim-form">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <input type="hidden" name="tableName" value="Egitimler" />

        <div class="form-group">
            <label for="EgitimAdi">Eğitim Adı:</label>
            <input type="text" id="EgitimAdi" name="EgitimAdi" value="@Model.EgitimAdi" required />
        </div>

        <div class="form-group">
            <label for="EgitimAciklama">Eğitim Açıklama:</label>
            <textarea id="EgitimAciklama" name="EgitimAciklama" required>@Model.EgitimAciklama</textarea>
        </div>
                <div class="form-group">
            <label for="Gorsel_Data">Görsel Yükle</label>
            <input type="file" id="Gorsel_Data" name="Gorsel_Data" class="form-control" accept="image/*" />
            @if (Model?.Gorsel_Data != null)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Gorsel_Data)" alt="Mevcut görsel" style="max-width: 200px;" />
            }
        </div>  

        <div class="form-group">
            <button class="btn btn-kaydet" type="button" onclick="submitForm()">Kaydet</button>
            <button class="btn btn-iptal" type="button" onclick="closeForm()">İptal</button>
        </div>
    </form>
</div>


